:root {
  --font: "Inter", sans-serif;
  --orange: #ffa500;
  --darkblue: #08062c;
  --lightgrey: #888888;
}
body {
  font-family: var(--font);
  padding: 2rem 6rem 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  background: white;
}
header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-left: auto;
}
header li {
  margin-right: 3rem;
  color: var(--lightgrey);
}
header li:hover {
  color: var(--orange);
  cursor: pointer;
}
.landing-news {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 5rem;
}
.main-news {
  width: 65%;
}
.main-news img {
  width: 100%;
}
.main-news .title {
  display: block;
  font-size: 3.8rem;
  font-weight: bolder;
  line-height: 4rem;
  width: 40rem;
  color: var(--darkblue);
  margin-right: 2rem;
}
.main-news .info {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.main-news .summary {
  display: flex;
  flex-direction: column;
  color: var(--lightgrey);
  width: 35rem;
}
.main-news p {
  margin: 0 0 auto;
  line-height: 2rem;
  color: var(--lightgrey);
}
.main-news button {
  background-color: var(--darkblue);
  color: white;
  width: 10rem;
  height: 3rem;
  letter-spacing: 3pt;
  font-family: var(--font);
  border: none;
  position: relative;
  top: 1.8rem;
}
.main-news button:hover {
  cursor: pointer;
  transform: scale(1.05, 1.05);
}
.recent-news {
  width: 35%;
  height: auto;
  background: var(--darkblue);
  margin: 0 2rem;
  padding: 1.5rem;
}
.recent-news .title {
  display: block;
  color: var(--orange);
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.recent-news span {
  display: block;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}
.recent-news span:hover {
  color: var(--orange);
  cursor: pointer;
}
.recent-news p {
  color: var(--lightgrey);
  padding-bottom: 1rem;
  border-bottom: solid 0.1rem #8888883d;
}
.recent-news p:last-child {
  border-bottom: none;
}
.ranked-news {
  display: flex;
  flex-direction: row;
}
.ranked-news .info {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-right: 0.8rem;
}
.ranked-news .number {
  display: block;
  color: lightgrey;
  font-weight: bold;
  font-size: 24pt;
}
.ranked-news img {
  width: 7rem;
  height: auto;
  object-fit: cover;
}
.ranked-news .info .title {
  font-weight: bold;
  font-size: 16pt;
  padding-top: 0.2rem;
}
.ranked-news .info .title:hover {
  cursor: pointer;
  color: var(--orange);
}
.ranked-news .info p{
  color: var(--lightgrey);
}

.divider {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 0.1rem;
  background-color: lightgrey; 
  margin: 0 auto 4rem;
  border-radius: 1rem;
}
.space {
  height: 2rem;
}
